.cards__container {
    margin-top: 1em;
    padding-bottom: 1em;
    display: flex;
    gap: 2em;
    width: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
}
@media only screen and (max-width: 820px) {
    .cards__container {
        max-width: 768px;
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    }
}
